# =========================
# PYTHON (MS-02, MS-03)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# =========================
# JAVA (MS-01)
# =========================
build/
.gradle/
out/
target/

# =========================
# REACT (Frontend)
# =========================
node_modules/
dist/
.eslintcache

# =========================
# IDEs y SO
# =========================
.idea/
.vscode/
.DS_Store
