apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-{{ source_app }}-to-{{ target_app }}
spec:
  podSelector:
    matchLabels:
      app: {{ target_app }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: {{ source_app }}
    ports:
    - protocol: TCP
      port: {{ target_port }}